$screenS: 320px;
$screenM: 768px;
$screenL: 1120px;
$screenEL: 1440px;
$bgWhite: #fff;
$bgGray: #f8f8f8;
$textMain: #1b1c21;
$linkGray: #7e7e82;
$linkBorder: #b8ffec;
$headBorder: #d9fff5;
$brandBorder: #eaeaea;
$btnTap: #ff3e79;
$paginBlt: #b5b6bc;
$inputClr: #b5b6bc;
